<div class="container nested-container">
	<div class="row">
		<h4 class="text-center">New and Incoming Q&As</h4>
	</div>
	<div class="row">
		<div class="col-sm-12 text-right margin-bottom">
			<a class="btn btn-primary" [routerLink]="['/new']" role="button">New Q&A</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="table-responsive">
				<table class="table table-hover margin-top">
					<tr>
						<th></th>
						<th>Question</th>
						<th>Answer</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr *ngFor="let entry of newEntries; let i = index">
						<td>{{index + 1}}</td>
						<td>{{entry.question}}</td>
						<td>{{entry.answer}}</td>
						<td><a [routerLink]="['/edit']" class="btn btn-default" title="Edit"><i class="glyphicon glyphicon-edit"></i></a></td>
						<td><a (click)="deleteEntry(entry)" class="btn btn-default" title="Delete"><i class="glyphicon glyphicon-remove-sign"></i></a></td>
						<td><a (click)="submitEntry(entry)" class="btn btn-default" title="Submit to DB"><i class="glyphicon glyphicon-arrow-right"></i></a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>